<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

* List popular languages that Data Scientists use.
* List commonly used libraries used by Data Scientists.
* Comment on Data Science tools.

Some of the popular languages that Data Scientists use are:



1.   Python
2.   R
3.   SQL
4.   Java
5.   C/C++
6.   Julia
7.   Scala

Some of the commonly used libraries used by Data Scientists include:



1. TensorFlow
2. Numpy
3. SciPy
4. Pandas
5. MatplotLib
6. Keras
7. SciKit-Learn
8. PyTorch

Data Science Tools

| Data Science Tools |
| --- |
| SAS |
| Apache Spark |
| BigML |

###Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
mul_add = (3*4)+5
print(mul_add)
print(mul_add == 17)

17
True

In [4]:
#This will convert 200 minutes to hours by diving by 60
min_to_hr= 200 / 60
print(min_to_hr)

3.3333333333333335

##Author

Hizana Nasreen E S